<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>1D Cutting Optimization</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" id="vc_font_awesome_5-css" href="../css/all.min.css" type="text/css" media="all">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/styles.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav th:replace="fragments/navbar" xtra:strip-whitespace="shallow">Navbar tutaj</nav>
  <!-- Navbar -->

  <div class=col-sm-4 id="addRowsHere" style="padding-top: 20px;">

    <button id="add-btn" class="btn btn btn-primary" type="submit"><i class="fas fa-plus"></i> Dodaj
    </button>

    <form control="" class="form-group" method="POST" th:action="@{/1dcut}">

      <table id="myTable" class="table">
        <tr>
          <th> Dlugość odcinka </th>
          <th> Ilość </th>
          <th> </th>
        </tr>

        <tr th:id="'unit-table' + ${iterStat.index}" th:class="'unit-table' + ${iterStat.index}"
          th:each="instance,iterStat : ${pclength}">
          <td>
            <input type="number" name="pclength" id="pclength" th:value="${instance}" style="width: 120px">
          </td>
          <td>
            <input type="number" name="pcscount" id="pcscount" value="2" style="width: 120px">
          </td>
          <td>
            <input type="button" id="bt" value="Delete" onclick="removeRow(this)" />
          </td>
        </tr>
      </table>

      <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-check"></i> Optymalizuj
      </button>

    </form>

  </div>



  <div class="col-sm-5">
    <div class="col-sm">
      <label> Dostepna dlugosc pretow: </label><span th:text=" ${stockLen}"></span>
    </div>
    <div class="col-sm">
      <label> Dostepna ilosc pretow: </label><span th:text=" ${stockPcs}"></span>
    </div>
    <div class="col-sm">
      <label> Ilosc potrzebnego materialu: </label><span th:text=" ${stockneed}"></span>
    </div>
    <div class="col-sm">
      <label> Wymagane odcinki: </label><span th:text=" ${cuts}"></span>
    </div>
    <div class="col-sm">
      <form control="" class="form-group" method="POST" th:action="@{/1dcut}">
        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-check"></i> Optymalizuj
        </button>
      </form>
    </div>
    <div class="col-sm">
      <label> --------------------- </label></span>
    </div>
    <div class="col-sm">
      <label> Wyniki: </label></span>
      <option th:each="instance : ${wyniki}" th:value="${instance}" th:text="${instance}" th:name="wyniki"></option>
    </div>


  </div>



</body>

</html>

<script>

  // delete TABLE row function.
  function removeRow(oButton) {
    var empTab = document.getElementById('myTable');
    empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // button -> td -> tr.
  }


  jQuery(function ($) {
    var $button = $('#add-btn'),
      $row = $('.unit-table0').clone();

    $button.click(function () {
      $row.clone().insertBefore($('#unit-table0').attr("class", "dupa"));
    });
  });
</script>