<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>1D Cutting Optimization</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" id="vc_font_awesome_5-css" href="../css/all.min.css" type="text/css" media="all">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css">

  <link rel="stylesheet" href="../css/styles.css" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <!-- Navbar -->
  <nav th:replace="fragments/navbar" xtra:strip-whitespace="shallow">Navbar tutaj</nav>
  <!-- Navbar -->

  <div class=col-sm-4 id="addRowsHere">
    <button type="button" id="add-btn" name="add-btn" value="add-btn">Add new row</button>

    <form control="" class="form-group" method="POST" th:action="@{/1dcut}">


      <table id="myTable" class="table">
        <tr>
          <th> Dlugość odcinka </th>
          <th> Ilość </th>
        </tr>

        <tr class="unit-table">
          <td>
            <input type="number" name="stocklen" id="stocklen" value="0">
          </td>
          <td>
            <input type="number" name="pcscount" id="pcscount" value="0">
          </td>
        </tr>
        <tr class="unit-table2">
          <td>
            <input type="number" name="stocklen" id="stocklen" value="0">
          </td>
          <td>
            <input type="number" name="pcscount" id="pcscount" value="0">
          </td>
        </tr>
        <tr class="unit-table3" id="unit-table3" name="unit-table3" value="unit-table3">
          <td>
            <input type="number" name="stocklen" id="stocklen" value="0">
          </td>
          <td>
            <input type="number" name="pcscount" id="pcscount" value="0">
          </td>
        </tr>
      </table>

      <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-check"></i> Optymalizuj
      </button>

    </form>

  </div>


  <div class="col-sm-4">
    <label> Ilosc potrzebnego materialu: </label><span th:text=" ${wynik}"></span>
  </div>

  <div class="col-sm-4">
    <div class="col-sm">
      <label> Dostepna dlugosc pretow: </label><span th:text=" ${stockLen}"></span>
    </div>
    <div class="col-sm">
      <label> Dostepna ilosc pretow: </label><span th:text=" ${stockPcs}"></span>
    </div>
    <div class="col-sm">
      <label> Wymagane odcinki: </label><span th:text=" ${cuts}"></span>
    </div>
    <div class="col-sm">
      <form control="" class="form-group" method="POST" th:action="@{/1dcut}">
        <button class="btn btn-lg btn-primary btn-block" type="submit"><i class="fas fa-check"></i> Optymalizuj
        </button>
      </form>
    </div>
    <div class="col-sm">
      <label> --------------------- </label></span>
    </div>
    <div class="col-sm">
      <label> Wyniki: </label></span>
      <option th:each="instance : ${wyniki}" th:value="${instance}" th:text="${instance}" th:name="wyniki"></option>
    </div>


  </div>



</body>

</html>

<script>
  /*
  function addRow() {
    var table = document.getElementById("myTable");
    var rows = document.getElementById("myTable").rows.length;

    var table = document.getElementById("myTable");
    var rows = document.getElementById("myTable").rows.length;
    // add row 
    var row = table.insertRow(rows);

    // add input in cell 
    for (var i = 0; i < 2; i++) {
      var cell1 = row.insertCell(i);
      var inputItem = document.createElement('input');
      cell1.appendChild(inputItem);
    }

  }
  document.getElementById('add_btn').onclick = addRow;
  */
  jQuery(function ($) {
    var $button = $('#add-btn'),
      $row = $('.unit-table3').clone();

    $button.click(function () {
      $row.clone().insertAfter($('#unit-table3'));
    });
  });
</script>