<!DOCTYPE HTML>
<html>
<head> 
    <title>Kantorek u Schaba</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron text-center">
    <h1> <a href="http://localhost:8080/">Kantorek u schaba.</a></h1>
    <p>Sztos.</p> 
  </div>
    
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h3>Twoja waluta:</h3>
        <div class="form-group blu-margin">
          <select class="form-control"  id="dropOperator">
          <option th:value="${basecurrency}" th:text="${basecurrency}">ooo</option>
          </select>
        </div>

        <form class="form-group" method="POST">
          <label for="lookfor">Szukaj waluty:</label><br>
          <input type="text" id="lookfor" name="q"><br>
        </form>

        <div class="list-group" style="max-height: 400px; overflow: auto;">
          <table>
            <tr th:each="instance : ${waluty}" style="cursor: pointer" th:key="${instance.key}" onclick="rowClicked(this.getAttribute('key'))">
              <td><a th:text="${instance.key}" method="POST" th:href="|?q=${instance.key}|" class="list-group-item list-group-item-action list-group-item-primary" style="padding: 1px 10px;"></a></td>
              <td><a th:text="${instance.value}" th:href="|${instance.key}|" class="list-group-item list-group-item-action list-group-item-primary" style="padding: 1px 10px;"></a></td>
            </tr>
          </table>
          </div>
      </div>
      <div class="col-sm-6">
        <h3 style="text-align: center;">Co waść chcesz?</h3>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-success active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> Kup
          </label>
          <label class="btn btn-danger">
            <input type="radio" name="options" id="option2" autocomplete="off"> Sprzedaj
          </label>
        </div>

        <p></p>
        <p>Wybierz Pan cos:</p>
        <div class="form-group blu-margin">
          <select class="form-control"  id="dropOperator">
          <option value="0">Wybierz se pan</option>
          <option th:each="instance : ${waluty}" th:value="${instance.key}" th:text="${instance.key}"></option>
          </select>
        </div>

        <form class="form-group">
          <label for="amount">Ile:</label><br>
          <input type="text" id="amount" name="username"><br>
          <label for="pwd">Password:</label><br>
          <input type="password" id="pwd" name="pwd">
        </form>

        <div class="form-group blu-margin" th:object="${user}">
          <select class="form-control" id="testOrder" name="testOrder">
              <option value="">Wybierz se pan</option>
              <option th:each="instance : ${waluty}"
                      th:value="${instance.value}"
                      th:text="${instance.key}+' = '+${instance.value}"></option>
          </select>
        </div>
      </div>
      <div class="col-sm-3">
        <h3>Column 3</h3>        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
      </div>
    </div>

  </div>
</body>
</html>

<script>
  function rowClicked(value) {
      location.href = "/myurl?param=" + value;
  }
</script>