<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <title>1D Cutting Optimization</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../css/styles.css" type="text/css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>

	<!-- Navbar -->
	<nav th:replace="fragments/navbar">Navbar tutaj</nav>
	<!-- Navbar -->

	<div class="container">
		<div class="row">

			<!-- Main Content -->

			<section class="vh-100">
				<div class="container-fluid h-custom">
					<div class="row d-flex justify-content-center align-items-center h-100">
						<div class="col-md-9 col-lg-6 col-xl-5">
							<img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
								class="img-fluid" alt="Sample image">
						</div>

						<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
							<form control="" class="form-group" method="POST" th:action="@{/login}">

								<!-- Thymeleaf + Spring Security error display -->
								<div th:if="${param.error}" class="alert alert-danger">
									Nieprawidlowa nazwa uzytkownika lub haslo.
								</div>

								<div th:if="${param.logout}" class="alert alert-success">
									Zostales wylogowany.
								</div>

								<!-- Email input -->
								<div class="form-outline mb-4">
									<input type="text" class="form-control form-control-lg" name="username" id="username"
										placeholder="Username" autofocus="true" />
									<label class="form-label" for="username">Username</label>
								</div>

								<!-- Password input -->
								<div class="form-outline mb-3">
									<input type="password" class="form-control form-control-lg" name="password" id="password"
										placeholder="Password" />
									<label class="form-label" for="password">Password</label>
								</div>

								<div class="d-flex justify-content-between align-items-center">
									<!-- Checkbox -->
									<div class="form-check mb-0">
										<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
										<label class="form-check-label" for="form2Example3">
											Zapamiętaj mnie
										</label>
									</div>
									<a href="#!" class="text-body">Zapomniałeś/aś hasła?</a>
								</div>

								<div class="text-center text-lg-start mt-4 pt-2">
									<button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;"><i class="fas fa-check"></i>Login</button>

									<p>Nie masz konta? <a href="/register">Zarejestruj się!</a></p>
								</div>

							</form>
						</div>
					</div>
				</div>
			</section>


		</div>
	</div>


</body>

</html>