<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <link rel="stylesheet" href="../css/navbar.css" type="text/css" />
</head>
<div class="navbar navbar-expand-lg bg-light navbar-light">
  <!-- Container wrapper -->
  <div class="container-fluid navi">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="http://localhost:8080/"><i class="fas fa-home"></i> Home</a>
    <a class="navbar-brand" href="/1dcut"><i class="fas fa-dice"></i> 1D Cut Optimizer</a>
    <a class="navbar-brand" href="#"><i class="fas fa-briefcase"></i> 2D Cut Optimizer</a>

    <!-- Example single danger button -->
    <div class="btn-group" sec:authorize="hasAuthority('KIEP')">
      <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Action
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Majne profajl</a></li>
        <li><a class="dropdown-item" href="#"><i class="fas fa-smoking"></i> Szmeterling</a></li>
        <li><a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Krankenwagen</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"> Wychodzę, bo nie zniesę</i></a></li>
      </ul>
    </div>

    <div class="userDropMenu" sec:authorize="hasAuthority('KIEP')">
      <div class="dropdown">
        <a href="#" class="dropdown-toggle " role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img class="userDropMenuImg" src="img/avatar_januszcoin.png">
          <span th:text=" 'Witoj, ' + ${#authentication.getPrincipal().getUsername()} + '!' "></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
          <li> <a class="dropdown-item" href="/profile"><i class="fas fa-user"></i> Majne profajl</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-smoking"></i> Szmeterling</a></li>
          <li> <a class="dropdown-item" href="#"><i class="fas fa-cogs"></i> Krankenwagen</a></li>
          <li><hr class="dropdown-divider"></li>
          <li> <a class="dropdown-item" th:href="@{/logout}"><i class="fas fa-sign-out-alt"> Wychodzę, bo nie zniesę</i></a></li>
        </ul>
      </div>
    </div>

    <div sec:authorize="isAnonymous()">
      <a class="loginbtn btn btn-primary btn-sm" th:href="@{/register}"><i class="fas fa-user-plus"></i> Rejestruj
        waść</a>
      <a class="loginbtn btn btn-success btn-sm" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Loguj waść</a>
    </div>
  </div>
</div>

</html>