<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link rel="stylesheet" id="vc_font_awesome_5-css" href="../css/all.min.css" type="text/css" media="all">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">  
  <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>

</head>
  <div class="navbar bg-dark navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid navi">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="http://localhost:8080/"><i class="fas fa-home"></i> Home</a>
      <a class="navbar-brand" href="/1dcut"><i class="fas fa-dice"></i> 1D Cut Optimizer</a>
      <a class="navbar-brand" href="#"><i class="fas fa-briefcase"></i> 2D Cut Optimizer</a>

      <div class="userDropMenu" sec:authorize="hasAuthority('KIEP')">
        <div class="dropdown">
          <a href="#" class="dropdown-toggle " role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <img class="userDropMenuImg" src="img/avatar_januszcoin.png">
            <span th:text=" 'Witoj, ' + ${#authentication.getPrincipal().getUsername()} + '!' "></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item"> <a href="/profile"><i class="fas fa-user"></i> Majne profajl</a></li>
            <li class="dropdown-item"> <a href="#"><i class="fas fa-smoking"></i> Szmeterling</a></li>
            <li class="dropdown-item"> <a href="#"><i class="fas fa-cogs"></i> Krankenwagen</a></li>
            <li class="dropdown-item"> <a class="loginbtn btn btn-info" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i> Wychodzę bo nie zniesę</a></li>
          </ul>
        </div>
      </div>

      <div sec:authorize="isAnonymous()">
        <a class="loginbtn btn btn-success" th:href="@{/login}"><i class="fas fa-sign-in-alt"></i> Loguj waść</a>
        <a class="loginbtn btn btn-primary" th:href="@{/register}"><i class="fas fa-user-plus"></i> Rejestruj waść</a>
      </div>
    </div>
  </div>
</html>