body{
	color: #464646;
	font-family: Roboto;
}

.wynikbasecurrency{
  font-family: monospace;
  font-size: 12px;
  font-weight: 100;
  color: bisque!important;
}

.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}

.headerimg{
  width: 500px;
}

.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
}


/** LOGIN FORM **/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 100px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
/** END LOGIN FORM **/

h5.user-name h6.user-email{
	text-align: center;
	padding-top: 10px;
}


/*** 1D Stock Cut style ***/
#add-btn
{
	float:right;
}
#add-stock-btn
{
	float:right;
}
.table form input
{
	width: 200px;
}
.cutbar{
	border: 0px;
	border-left: 1px;
	border-right: 1px;
	border-color: #4a4a4aba;
	border-style: solid;
}

form#leftform input {
	width: 95%;
}
form#leftform td{
	vertical-align: middle;
}
#addRowsHere .btn-sm{
	font-size: 10px;
}
form#secform input {
	width: 95%;
}
form#secform td{
	vertical-align: middle;
}

.table{
	font-size: 11px;
}
.table td{
	padding: 1px!important;
}


.progress {
	font-size: .65rem!important;
	background-color: #a9a9a9!important;
	border-radius: .35rem!important;
}
.probar{
	margin-top: 5px;
	margin-bottom: 5px;
}
.wynikicol{
	font-size: 13px;
}
.wynikicol label{
	font-size: 13px;
	font-weight: 600;
}