.wynikbasecurrency{
  font-family: monospace;
  font-size: 12px;
  font-weight: 100;
  color: bisque!important;
}
.navbar-brand{
	padding-top: 12px;
}
.navi{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: lightgray;
}
.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}

.headerimg{
  width: 500px;
}

.form-control{
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
}

/* USER DROPDOWN MENUUUUU */
.userDropMenu{
  float: right;
  min-width: 150px;
  height: 50px;
  padding-top: 5px;
  text-align: center;
}

.userDropMenu li{
  list-style: none;
}

.userDropMenuImg{
  width: 40px;

}


/** LOGIN FORM **/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 100px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}
/** END LOGIN FORM **/

/*** 1D Stock Cut style ***/
#add-btn
{
	float:right;
}
#add-stock-btn
{
	float:right;
}
.table form input
{
	width: 200px;
}
.cutbar{
	border: 0px;
	border-left: 1px;
	border-color: #4a4a4aba;
	border-style: solid;
}

form#leftform input {
	width: 95%;
}

form#leftform td{
	vertical-align: middle;
}